/*
 * Copyright Regione Piemonte - 2023
 * SPDX-License-Identifier: EUPL-1.2
 */

// app global css in SCSS form
.border-up-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-load-enter-active,
.list-load-leave-active {
  transition: all 0.2s ease;
}

.list-load-enter {
  opacity: 0;
  // transform: translateY(50px);
}

.list-load-leave-to {
  opacity: 0;
}

// scale
.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.scale-enter,
.scale-leave-to {
  opacity: 0;
  transform: scale(.95);
}

// expand
.expand-enter-active,
.expand-leave-active {
  transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  max-height: 716px
}

.expand-enter,
.expand-leave-to {
  opacity: 0;
  max-height: 0;
}

// animated class
.animated-item {
  transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// prev animation
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide-prev-enter {
  opacity: 0;
  transform: translateX(-10px)
}

.slide-prev-leave-to {
  opacity: 0;
  transform: translateX(10px)
}

// next animation
.slide-next-enter-active,
.slide-next-leave-active {
  transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide-next-enter {
  opacity: 0;
  transform: translateX(10px)
}

.slide-next-leave-to {
  opacity: 0;
  transform: translateX(-10px)
}

// page max width
.page-max-width {
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

// rounded corners
.rounded-corners {
  border-radius: 15pt;
}